//! **************************************************************************
// Written by: Map P.20131013 on Sat May 31 02:44:13 2025
//! **************************************************************************

SCHEMATIC START;
COMP "rxDataOut_OutputPort<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "rxDataOut_OutputPort<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "rxDataOut_OutputPort<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "rxDataOut_OutputPort<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "rxDataOut_OutputPort<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "rxDataOut_OutputPort<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "rxDataOut_OutputPort<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "rxDataOut_OutputPort<7>" LOCATE = SITE "F9" LEVEL 1;
COMP "txDataIn_InputPort<0>" LOCATE = SITE "H13" LEVEL 1;
COMP "txDataIn_InputPort<1>" LOCATE = SITE "K17" LEVEL 1;
COMP "txDataIn_InputPort<2>" LOCATE = SITE "D18" LEVEL 1;
COMP "txDataIn_InputPort<3>" LOCATE = SITE "V4" LEVEL 1;
COMP "txDataIn_InputPort<4>" LOCATE = SITE "L13" LEVEL 1;
COMP "clk_InputPin" LOCATE = SITE "C9" LEVEL 1;
COMP "txDataIn_InputPort<5>" LOCATE = SITE "L14" LEVEL 1;
COMP "txDataIn_InputPort<6>" LOCATE = SITE "H18" LEVEL 1;
COMP "txDataIn_InputPort<7>" LOCATE = SITE "N17" LEVEL 1;
COMP "rx_InputPin" LOCATE = SITE "R7" LEVEL 1;
COMP "txWrEn_InputPin" LOCATE = SITE "V16" LEVEL 1;
COMP "tx_OutputPin" LOCATE = SITE "M14" LEVEL 1;
NET "clk_InputPin_BUFGP/IBUFG" BEL "clk_InputPin_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

